
.bground{
	background-color: #2C2F33;
	text-align: center;
}

p{
	color: #FFFFFF;
	font-family: Tahoma;
	line-height: 28px;
	font-size: 20px;
}

.head{
	font-size: 58px;
	text-align: center;
	padding-left: 0px;
	line-height: 50px;
}

.semi-head{
	font-size: 38px;
	text-align: center;
	padding-left: 0px;
	line-height: 40px;
}

label{
	padding-left: 0px;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 24px;
}

.normaltext{
	color: #FFFFFF;
	font-family: Tahoma;
	line-height: 20px;
	text-align:center;
}

.button1{
	border: 1px solid #ECEFD3;
	background: none;
	padding: 10px 20px;
	font-size: 28px;
	font-family: Tahoma;
	cursor: pointer;
	margin:10px;
	transition: 0.4s;
	position: relative;
	overflow: hidden;
	color:#fff;
	
}

.button1::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background:#3C3F43;
	z-index: -1;
	transition: 0.4s;
}

.buttonanim1{
	background-color: #3C3F43;
}

.buttonanim1:hover{
	background-color: #0C0F13;
}

.buttonanim1::before{
	bottom: 0;
	border-radius; 50% 50% 0 0;
}

.buttonanim1:hover::before{
	height: 180%:
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.displayimage {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.porfolio{
  max-width: 814px;
  position: relative;
  margin: auto;
  background-color: #3C3F43;
  min-width:814px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: #EEEEEE;
  font-weight: bold;
  font-size: 28px;
  transition: 0.4s ;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(22,22,33,1);
}

/* Caption text */
.caption-text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 5px 15px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(50,50,50,0.6);
  max-width:814px;
  text-align:center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  padding-left: 56px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #202029;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #515151;
}

.active{
	background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#userinput{
	width: 440px;
	height: 52px;
	font-size: 36px;
}

	
	


